<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Hosting Search</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/table.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <script type = "text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <script type = "text/javascript" src="./js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="./js/popper.min.js"></script>
    <script type = "text/javascript" src="./js/all.js"></script>
    <script type = "text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/vue2_5_16.js"></script>
    <script type="text/javascript" src="./js/axios.min.js"></script>
    <script type = "text/javascript" src="./js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Side bar   -->
    <!--<div class="content col-lg-1">-->
        <!--&lt;!&ndash; Profile card       &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="sideContainer">-->
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<img src="./images/user.jpg" class="img-circle center" alt="user.jpg">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;   sidebar menu         &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="sideContainer">-->
                <!--<div class="col-md-12" id="listGroupContainer">-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item active"><a href=""><i class="fas fa-home"></i> Home</a></li>-->
                        <!--<li class="list-group-item"><a href=""><i class="fas fa-user-circle"></i> profile</a></li>-->
                        <!--<li class="list-group-item"><a href=""><i class="fas fa-tasks"></i> Tasks</a></li>-->
                        <!--<li class="list-group-item"><a href=""><i class="far fa-clipboard"></i> clipboard</a></li>-->
                        <!--<li class="list-group-item"><a href=""><i class="fas fa-tools"></i> Settings</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- main page   -->
    <div class="content col-lg-12" id="mainPageContainer">

    <!--        banner-->
        <div class="row mainRow">
            <div class="mainContainer bannerContainer bg-primary">
                <div class="container">
                    <div id="banner">
                        <h1>Web Hosting Search</h1>
                    </div>
                </div>
                <div class="container">
                    <div id="bannerFoot">
                        <p>Bell Aliant</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="searchTable">

            <!--        search engine-->
            <div class="row mainRow">
                <div class="mainContainer">
                    <div id="navBarContainer">
                        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
                            <div class="form-inline text-right"  method="get">
                                <input class="form-control" type="text" placeholder="Search" v-model="serverName">
                                <button class="btn btn-success" type="submit" name="button" @click="search()">Search</button>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        <!--        tables information-->
            <div class="row mainRow" id ="serverTable">
                <div class="mainContainer table-responsive">
                    <table class="table table-striped" style="table-layout:fixed;" width="100%">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>OS</th>
                            <th>Logical Drive</th>
                            <th>Processors</th>
                            <th>RAM</th>
                            <th>Location</th>
                            <th>IP(Internal)</th>
                            <th>Subnet</th>
                            <th>Gateway</th>
                            <th>DNS</th>
                            <th>VLAN</th>
                            <th>IP(External)</th>
                            <th>MNS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for = "server in servers">
                            <td>{{ server.id }}</td>
                            <td>{{ server.serverName }}</td>
                            <td>{{ server.serverOS }}</td>
                            <td>{{ server.serverLogicalDrive }}</td>
                            <td>{{ server.serverProcessors }}</td>
                            <td>{{ server.Ram }}</td>
                            <td>{{ server.serverLocation }}</td>
                            <td>{{ server.serverIpInternal }}</td>
                            <td>{{ server.serverSubnetMask }}</td>
                            <td>{{ server.serverGateway}}</td>
                            <td>{{ server.serverDns }}</td>
                            <td>{{ server.serverVlan }}</td>
                            <td>{{ server.serverIpExternal }}</td>
                            <td>{{ server.serverMns}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>


        <!--        pagination-->
        <div class="row mainRow">
            <div class="container text-center">
                <div id="foot">
                    <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#searchTable',
            data() {
                return{
                    servers: null
                }
            },
            methods:{
                search: function () {
                    axios
                    .get('http://127.0.0.1:8000/servers/serverInfo/',{
                        params:{
                            serverName:this.serverName,
                        },
                    })
                    .then(response => {
                        this.servers = response.data.servers;
                        console.log(response)
                        // alert(response.data.msg);
                    })
                    .catch(error => {
                        console.log(error)

                    })
                }
            },
            mounted(){
                axios
                    .get('http://127.0.0.1:8000/servers/serverInfo/')
                    .then(response => {
                        this.servers = response.data.servers
                        // console.log(response)
                        // alert(response.data.msg);
                    })
                    .catch(error => {
                        console.log(error)

                    })
                }
             });
    </script>
</body>
</html>


